AUTH_DB_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
STATE_CHECKER_ENABLED=true
ACCESS_TOKEN_EXPIRY=3600
REFRESH_TOKEN_EXPIRY=604800
DDL_AUTO_SETTING=validate
